.title .subhead .list {
    font-family: fantasy, 'Times New Roman', Times, serif;
}

.title {
    background-color: rgb(238, 100, 20);
    color: rgb(241, 197, 53);
    text-align: center;
    font-size: 82px;
}

.subhead {
    color: rgb(238, 100, 20);
    font-size: 34px;
}

.list {
    font-size: 24px;
}