.header .li {
    font-family: fantasy, 'Times New Roman', Times, serif;
}

.header {
    color: rgb(202, 82, 82);
    background-color: rgb(121, 196, 98);
    font-size: 84px;
    font-weight: bold;
    text-align: center;
}

.li {
    font-size: 32px;
}